body {
    margin: 0;
    background: linear-gradient(to bottom, #000, #9e0027, #e31054); /* top → bottom */
    min-height: 100vh;
    color: #000;
}

h1 {
    color: white;
    font-family: "Georgia", serif;
}
p {
    color: white;
    font-family: "Inria Serif", serif;
    font-style: italic;
    font-weight: 300;
}
h2 {
    color: white;
    font-family: "Inria Serif", serif;
    font-style: italic;
    font-weight: 700;
}
h3 {
    color: white;
    font-family: "Inria Serif", serif;
    font-style: normal;
    font-weight: 300;
}

h4 {
    color: white;
    font-family: "Inria Serif", serif;
    font-style: italic;
    font-weight: 300;
}
img {
    border: 4px solid white;
    box-sizing: border-box;
}
a {
    color: #ffffff;
    text-decoration: underline;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}
